---
layout: page
description: "Web Developer"
header-img: "img/bg.png"
---

<!-- About Content -->
<section id="about">
	<div class="row">
		<div class="text-center">
			<img src="/img/prof_pic.png" class="img-responsive center-block img-circle" alt="" width="200" height="200">
		</div>
	</div>
	<div>
		<p>
			Hi! My name is David Camilo Sanchez Mora, I'm from Bogotá, Colombia
		</p>
		<p>
			I'm very passionate about learning the latest technologies in Mobile and Web Development
		</p>
		<p>
			I really like learn by own and every day I try to do my best.
		</p>
	</div>
</section>


<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="text-center">
		<h2>Here's some of my work</h2>
	</div>

    <div>
        <button class="btn btn-primary filter-button" data-filter="all">All</button>
        <button class="btn btn-default filter-button" data-filter="Web">Web</button>
        <button class="btn btn-default filter-button" data-filter="ReactNative">React Native</button>
    </div>
    <br/>

    <div class="row">
			{% for item in site.portfolio %}
        <div class="col-sm-4 filter {{ item.category }}">
            <div class="each-item">
							<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
                <img class="port-image" src="{{ item.image }}"/>
                <div class="cap1">
                    <h3>{{ item.title }}</h3>
                    <p>Category: {{ item.category }}</p>
                </div>
                <div class="cap2">
                    <p class="text-center">View</p>
                </div>
							</a>
            </div>
        </div>
				{% endfor %}
    </div>

</section>


	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<div class="row text-center">
									<img src="{{ item.image }}" class="rounded" style="display:inline-block;" alt="">
								</div>
								</div>
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		{% endfor %}
	</section>
